<% button_markup = capture do %>
  <% if prefix? %>
    <span><%= prefix %></span>
  <% end %>

  <% if content? %>
    <%= content %>
  <% end %>

  <% if suffix? %>
    <span><%= suffix %></span>
  <% end %>
<% end %>

<% if url %>
  <%= render ContainerComponent.new **component_attrs, tag: :a, href: url, target: external ? "_blank" : nil do %>
    <%= button_markup %>
  <% end %>
<% else %>
  <%= render ContainerComponent.new **component_attrs, tag: :button do %>
    <%= button_markup %>
  <% end %>
<% end %>