<%= render ContainerComponent.new tag: :div, classes: "flex flex-col", **component_attrs do %>
  <% if header? %>
    <%= header %>
  <% elsif title.present? %>
    <h2><%= title %></h2>
  <% end %>

  <% if sections? %>
    <ul>
      <% sections.each.with_index do |section, index| %>
        <% if index > 0 && divided? %>
          <%= divider %>
        <% end %>
        <li>
          <%= section %>
        </li>
      <% end %>
      <% if content? %>
        <% if divided? %>
          <%= divider %>
        <% end %>
        <li>
          <%= content %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render StimulusPlumbers::Components::Card::SectionComponent.new do %>
      <%= content %>
    <% end %>
  <% end %>

  <% if primary_action? || secondary_actions? %>
    <%= render StimulusPlumbers::Components::Button::GroupComponent.new(alignment: actions_alignment) do |group| %>
      <% if primary_action? %>
        <% group.with_primary_button do %>
          <%= primary_action %>
        <% end %>
      <% end %>
      <% if secondary_actions? %>
        <% secondary_actions.each do |action| %>
          <% group.with_secondary_button do %>
            <%= action %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>