<%= render ContainerComponent.new tag: :div, **component_attrs do %>
  <div class="flex justify-between">
    <% if navigator_previous? %>
      <% navigator_previous.stimulus.target("previous") %>
      <%= navigator_previous %>
      <%= puts "hahaaa #{navigator_previous.inspect}"; navigator_previous do |navigator| %>
        <% puts "heee"; navigator.stimulus.target("previous") %>
      <% end %>
    <% end %>
    <div>
      <% if current_day? %>
        <%= current_day do |day| %>
          <% day.stimulus.target("day") %>
        <% end %>
      <% end %>
      <% if current_month? %>
        <%= current_month do |month| %>
          <% month.stimulus.target("month") %>
        <% end %>
      <% end %>
      <% if current_year? %>
        <%= current_year do |year| %>
          <% year.stimulus.target("year") %>
        <% end %>
      <% end %>
    </div>
    <% if navigator_next? %>
      <%= navigator_next do |navigator| %>
        <% navigator.stimulus.target("next") %>
      <% end %>
    <% end %>
  </div>
  <%= render Calendar::DaysOfWeekComponent.new tag: :div, classes: "grid grid-cols-7 place-items-center", stimulus: ->(registry) {
    registry.target("daysOfWeek", controller: stimulus_controller)
  } %>
  <%= render Calendar::DaysOfMonthComponent.new tag: :div, classes: "grid grid-cols-7 place-items-center", stimulus: ->(registry) {
    registry.target("daysOfMonth", controller: stimulus_controller)
  } %>
<% end %>